{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ with .Params.youtube }}
           {{ partial "youtube.html" . }}
         {{ end }}
         {{ .Content }}
        
        {{ if .Site.DisqusShortname }}
        <h3>Kommentare</h3>
        <em>Um anonym zu kommentieren: Kommentar schreiben, bei "Ich möchte lieber als Gast schreiben" das Häkchen setzen und einen Namen und E-Mail in die Felder eintragen.</em>
        {{ template "_internal/disqus.html" . }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
